<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Inicio.css" />
    <link
      rel="icon"
      href="https://img.icons8.com/fluency/2x/digital-clock.png"
    />
    <title>Inicio</title>
  </head>
  <body>
    <header id="BloqueEncabezado">
      <img
        src="https://img.icons8.com/fluency/2x/digital-clock.png"
        alt="Alarma"
        id="ImagenAlarma"
      />
      <nav id="BloqueLinks">
        <a href="Calendar.html" class="HeaderLinks">Herramientas</a>
        <a href="#" class="HeaderLinks">Precios</a>
        <a href="#" class="HeaderLinks">Contacto</a>
        <a href="#" class="HeaderLinks">Soporte</a>
        <a
          href="/Registro"
          class="HeaderLinks"
          style="margin-right: 10px; margin-left: 50px"
          >Registrarse</a
        >
        <a href="/InicioSesion" class="HeaderLinks" style="margin-left: 10px"
          >Iniciar Sesion</a
        >
      </nav>
    </header>
    <div id="BloqueInicio">
      <form action="">
        <h1 style="font-family: 'Roboto Mono', monospace">
          Porfavor,para continuar Inicie Sesion o si es su primera vez
          Registrese
        </h1>
        <a href="/InicioSesion" id="BloqueRedireccion">Iniciar Sesion
        </a>
        <a href="/Registro" id="BloqueRedireccion">
            Registrarse
        </a>
      </form>
      
    </div>
    <footer>
      <div id="BloquePie">
        <nav id="Columnas">
          <a href="/" class="ColumnasText">Inicio</a><br />
          <a href="#" class="ColumnasText">Contacto</a><br />
          <a href="#" class="ColumnasText">Como Funciona</a><br />
          <a href="#" class="ColumnasText">Confianza Y Seguridad</a><br />
          <a href="#" class="ColumnasText">Clientes</a><br />
          <a href="#" class="ColumnasText">Socios</a><br />
          <a href="#" class="ColumnasText">Preguntas Frecuentes</a><br />
          <a href="#" class="ColumnasText">Telefono</a><br />
        </nav>
        <nav>
          <ul>
            <li class="PieLinks">
              <a href="#" style="color: black">Asistencia</a>
            </li>
            <li class="PieLinks">
              <a href="#" style="color: black">Aviso de Privacidad</a>
            </li>
            <li class="PieLinks">
              <a href="#" style="color: black">Termino de Servicio</a>
            </li>
            <li class="PieLinks">
              <a href="#" style="color: black">Preferencias de Cookies</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
